/* _headers.scss */

#headPrimary { // 메인 헤더
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 12rem;
    background-color: white;
}

.header-container { // 헤더 내부 정렬을 위한 컨테이너

}

/* _headers.scss */